.custom-button {
    width: 120px;
    height: 45px;
    border-radius: 13px;
    border: none;
    background: #ffffff;
    color: #FF5B5B;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px;
}

.custom-button:hover {
    background: #FF5B5B;
    color: #ffffff;
}

button.custom-button {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: center;
}