@media (max-width: 430px) {
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #F5F5F5;
        width: 430px;
        border-radius: 10px;
    }

    .home-screen-container {
        margin: 0 30px;
    }

    /* Sidebar cơ bản */
    .sidebar {
        position: fixed;
        top: 0;
        left: -230px;             /* Ẩn bên trái */
        width: 230px;
        height: 100%;
        background: #FF5B5B;
        box-shadow: 2px 0 8px rgba(0,0,0,0.1);
        transition: left 0.3s ease;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    
    /* Khi mở sidebar */
    .sidebar.open {
        left: 0;
        padding-top: 3rem;
    }
    
    /* Overlay mờ nền khi sidebar mở */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        z-index: 999;
    }
    
    /* Icon hamburger */
    .hamburger {
        cursor: pointer;
        /* margin-right: 2.5rem; */
    }
    
    /* Nav item trong sidebar */
    .nav-item {
        display: flex;
        align-items: center;
        padding: 0.85rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
        width: 12rem;
        color: white;
    }
    
    /* Khoảng cách giữa icon và label */
    .nav-label {
        margin-left: 0.75rem;
        font-size: 17px;
        color: white;
    }

    .home-screen-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .home-screen-header img {
        width: 7rem;
        height: 7rem;
        margin-left: 2rem;
    }
    
    .home-screen-header h1 {
        font-size: 17px;
        font-weight: 600;
        color: #FF5B5B;
    }
    
    input.form-control.rounded {
        border: none;
        border-radius: 10px;
        padding: 10px 15px;
        width: 30rem;
        background: white;
        font-size: 15px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    }
    
    span#search-addon {
        font-size: 22px;
        padding: 5px 10px;
        background: #FF5B5B;
        color: white;
        margin-left: 10px;
        border-radius: 10px;
    }
    
    .home-screen-categories-filter {
        display: flex;
        align-items: center;
        margin: 20px 0;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        gap: 10px;
        scrollbar-width: none;       
        -ms-overflow-style: none; 
    }
    
    .home-screen-categories-filter::-webkit-scrollbar {
        display: none;
    }
    
    button.custom-button.home-screen-categories-btn {
        flex: 0 0 100px; 
        text-align: center;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    }
    
    .home-screen-food-cards {
        display: flex;
        gap: 20px 17px;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .dashboard-content-food-list-pagination {
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
    }
    
    .food-card {
        background: white;
        width: 11rem;
        border-radius: 20px;
        padding: 15px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    }
    
    .food-card-img {
        display: flex;
        justify-content: center;
    }
    
    .food-card img {
        width: 7rem;
        height: 7rem;
    }
    
    .food-card-info h4 {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin: 5px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .food-card-info p {
        font-size: 13px;
        text-align: center;
        margin: 10px 0;
    }

    p.food-card-info-desc {
        color: #909090;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 10px 0;
    }

    .food-card-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .detail-food-header {
        display: flex;
        align-items: center;
        margin: 2rem 0 0 0;
    }

    .order-cart-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0 0 0;
    }
    
    h3.detail-food-header-title {
        margin-left: 30%;
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
    }

    h3.order-cart-header-title {
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .detail-food-card {
        margin-top: 1.5rem;
    }

    .detail-food-card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .detail-food-card-img img {
        width: 23rem;
        height: 23rem;
        border-radius: 15px;
    }

    .detail-food-card-info h3 {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .detail-food-card-info p {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.5;
        margin: 1rem 0;
    }
    
    .detail-food-card-action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .detail-food-card-action p {
        font-size: 17px;
        font-weight: 500;
    }

    .detail-food-card-action-quantity {
        display: flex;
        align-items: center;
    }

    button.custom-button.detail-food-card-action-quantity-icon {
        width: 2.7rem;
        height: 2.7rem;
        margin: 0 10px;
    }

    button.custom-button.detail-food-card-action-btn {
        display: block;
        margin: 20px auto;
        width: 50%;
        text-transform: uppercase;
        font-weight: 600;
    }

    .order-cart-food-card-action-btn {
        display: block;
        margin: 20px auto;
        width: 50%;
        text-transform: uppercase;
        font-weight: 600;
    }

    .order-cart-card {
        margin: 2rem 0;
    }

    .order-cart {
        background: white;
        height: 10rem;
        border-radius: 20px;
        padding: 15px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .order-cart-img {
        display: flex;
        justify-content: center;
    }
    
    .order-cart img {
        width: 7rem;
        height: 7rem;
    }

    .order-cart-container {
        width: 15rem;
        margin-left: 10px;
    }

    .order-cart-info {
        margin-left: 10px;
    }
    
    .order-cart-info h4 {
        font-size: 16px;
        font-weight: 600;
        margin: 0.5rem 0;
    }

    .order-cart-info p {
        font-size: 13px;
        margin: 0.5rem 0;
    }

    p.order-cart-info-desc {
        color: #909090;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0.5rem 0;
    }

    .order-cart-action-quantity {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;
    }

    button.custom-button.order-cart-action-quantity-icon {
        width: 2rem;
        height: 2rem;
        margin: 0 10px;
        background: #FF5B5B;
        color: white;
    }

    .ordered-list-card button.custom-button.order-cart-action-quantity-icon {
        display: none;
    }
    
    .ordered-list-card p.order-cart-action-quantity-number {
        background: #FF5B5B;
        padding: 10px;
        border-radius: 13px;
        margin: 0;
        color: white;
        width: 3rem;
        text-align: center;
        margin-left: 10px;
    }

    .notification-list {
        margin-top: 2rem;
    }
    
    .notification-list .MuiAlert-message.css-zioonp-MuiAlert-message {
        height: fit-content;
    }

    .sold-out-text-only {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
        font-weight: 600;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        pointer-events: none;
        background: #FF5B5B;
        width: 7rem;
        padding: 5px;
        text-align: center;
        border-radius: 15px;
    }
}