.table-reservation-availaible-seat {
    background: #FF5B5B;
    color: white;
    padding: 0 15px;
    border-radius: 10px;
    margin-right: 0.5rem;
}

.table-reservation-availaible-seat p {
    font-size: 15px;
    font-weight: 400;
}

.table-reservation-content-filter {
    padding: 0px 15px;
    margin: 20px 0px 20px 0px;
    width: 95%;
    border-radius: 15px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-reservation-filter-search {
    display: flex;
    align-items: center;
}

.table-reservation-filter-search .form-control {
    transition: border-color 0.1s ease; 
}

.table-reservation-filter-search input.form-control.rounded {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 17rem;
    background: white;
    font-size: 15px;
    height: 3rem;
}

.table-reservation-filter-search .form-control.rounded:focus {
    outline: none;
    border: 1px solid #FF5B5B; 
}

.table-reservation-filter-date label#\:r0\:-label {
    font-size: 15px;
}

.table-reservation-content-table-order {
    padding: 10px 14px;
    margin: 20px 0;
    width: 95%;
    border-radius: 15px;
    height: fit-content;
}

.crud-icon {
    font-size: 17px;
    background: #F9E0E3;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.crud-icon:hover {
    color: #FF5B5B;
}

.MuiDataGrid-cell.MuiDataGrid-cell--textLeft {
    display: flex;
    align-items: center;
}

.detail-table-reservation-content {
    padding: 10px 14px;
    margin: 20px 0;
    width: 95%;
    height: fit-content;
}

.detail-table-reservation-content-form {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.detail-table-reservation-content-customer-container {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
}

.detail-table-reservation-content-customer {
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 50%;
}

h4.detail-table-reservation-content-title {
    margin: 0 15px;
    padding: 0;
    width: 10rem;
    font-weight: 400;
}

.detail-table-reservation-content-input {
    width: 50%;
}

.MuiFormControl-root.MuiTextField-root.css-1b1fjlj-MuiFormControl-root-MuiTextField-root {
    min-width: 180px;
}

button.custom-button.table-reservation-btn {
    background: #F3F2F7;
    margin: 0 20px;
}

button.custom-button.table-reservation-btn:hover {
    background: #FF5B5B;
    color: white;
}

.detail-table-reservation-content-customer-container.content-btn {
    margin: 10px 0 20px 0;
}

.customer-order-content-breadcrumbs {
    padding: 10px 14px;
    margin: 0;
}

.customer-order-content {
    padding: 10px 14px;
    margin: 7px 0;
    width: 95%;
    height: fit-content;
    display: flex;
}

.customer-order-content-table-order-info {
    width: 25%;
    background: white;
    border-radius: 10px;
    padding: 18px 0px;
    text-align: center;
    margin-right: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.customer-order-content-table-order-list {
    width: 71%;
    background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: fit-content;
    margin-left: 10px;
}