.table-status-monitoring-content {
    padding: 10px 14px;
    margin: 20px 0;
    width: 97%;
    border-radius: 15px;
    height: fit-content;
    background: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.table-status-monitoring-content h3 {
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 15px;
    color: #FF5B5B;
    text-align: center;
}

.table-status-monitoring-detail-content {
    padding: 15px 25px;
    margin-bottom: 15px;
}

h3#update-table-status-modal {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 25px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-n030jq-MuiPaper-root {
    width: 100px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-177zjxz-MuiPaper-root {
    width: 100px;
}